<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nexus Tech - Login</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">
  <meta name="author" content="Hcode.com.br" />
  <meta name="theme-color" content="#3c8dbc">
  <style>
    @media screen and (max-width: 1000px){
      .login-boxm{
      display: block;
      padding-top: 10%;
    }
}
    .login-boxm{
      display: flex;
      padding-top: 10%;
    }
    .login-logom{
      width: 40%;
      font-size: 55px;
    text-align: center;
    margin-bottom: 25px;
    padding-left: 15%;
    padding-top: 1em
    }
 
    .login-box-bodym{
      width: 50%;
      padding: 7em;
      color: white;
      margin-top: -3em
       
    }
    input[type=text],[type=password]{
      background-color: rgba(255, 255, 255, 0.836);
      border-style: none;
      border-bottom: 3px solid rgb(255, 136, 0);
      color:rgb(150, 150, 150);
      font-size: 16px;
      outline: none;
      transition: 0.5s;
      height: 45px;
      border-radius: 15px;
    }
    
    
    input[type=text],[type=password]:focus{
      border-bottom: 3px solid rgb(255, 136, 0);
    }
    .botao{
      width: 100%;
      background-color: #032341d2;
      border-radius: 20px;
      outline: none;
      border-style: none;
      border-bottom: 3px solid rgb(255, 136, 0);
      color:gray;
      height: 45px;
    }
    .botao:hover{
      background-color: #113b63d2;
      transition: 0.6s;
      color:white;
    }
  
  </style>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page" style="background-image:url(assets/img/fundo_login.png); ">
  
  <div class="login-boxm" >
    <div class="login-logom">
      
        <img src="../../Logo/Nexus_tech-transparente.png">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-bodym ">
      <p class="login-box-msg">Acesso ao Sistema</p>

      <% if(typeof erro === "object" ) { %>
        <div class="alert alert-danger">

            <ul>
            
                <% for(let i =0;i < erro.length; i++)  { %>
                <li><%= erro[i].msg %></li>
                <%}%>
            </ul>

        </div>
            <%}%>

      <form   method="post">
        <div class="form-group has-feedback">
          <input name="email" type="text" class="form-control" placeholder="E-mail" <% if(typeof campos =='object'){ %> value='<%=campos.email%>' <% } %> >
          <span class="glyphicon glyphicon-envelope form-control-feedback" style="font-size: 18px"></span>
        </div>
        <div class="form-group has-feedback">
          <input name="password" type="password" class="form-control" placeholder="Senha">
          <span class="glyphicon glyphicon-lock form-control-feedback" style="font-size: 18px"></span>
        </div><br>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12" style="text-align: center">
            <button type="submit" class="btn botao">Entrar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery 3 -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>